*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 50px;
  background-color: #ff9a4b;
}

main {
  width: 960px;
  margin: 50px auto;
  display: flex;
}

.step {
  width: 300px;
  margin: 30px;
  background-color: #eeeeee;
  padding: 10px;
  position: relative;
}

.step-img1 {
  background-image: url(img/flow01.png);
  height: 150px;
  background-size: cover;
  background-position: bottom;
}

.step-img2 {
  background-image: url(img/flow02.png);
  height: 150px;
  background-position: bottom;
  background-size: cover;
}

.step-img3 {
  background-image: url(img/flow03.png);
  height: 150px;
  background-position: bottom;
  background-size: cover;
}

.step-icon {
  background-color: #ff9a4b;
  color: white;
  position: absolute;
  padding: 3px;
  top: 0;
  left: 0;

}

.title {
  margin: 15px 0 5px;
}

footer {
height: 50px;
background-color: #aaaaaa;

}

@media  screen and (max-width: 768px) {

  header {
    width: 100%;
    margin: 0;
  }

  main {
    width: 100%;
    display: block;
  }
  .step {
    width: 90%;
    margin: 20px;
  }
}